<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.desarrollo.project_music_store">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.Project_Music_Store.NoActionBar">
   <activity android:name=".LoginActivity">
      </activity>
        <activity android:name=".HabilitarTrabajadorActivity">
           </activity>
        <activity android:name=".CanastaActivity">
        </activity>
        <activity android:name=".HomeActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegistrarServicioActivity">
        </activity>
        <activity android:name=".RegistrarProductoActivity"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".MiPerfilActivity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".HistorialComprasActivity"></activity>

    </application>

</manifest>